<!--ユーザープロフィール編集-->
<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-lg-5 mx-auto">

     <h2>User info</h2>

       <!--プロフィール編集時のエラー文-->
       <%= form_with model:@user, local: true do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h3>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>
        <% end %>

    <!--プロフィール編集画面のname,image,introduction-->
    <%= form_with model: @user do |f| %>

      <div class="form-group py-2">
        <label for="user_name">Name</label>
        <%= f.text_field :name,autofocus:true,id:"inputName",class:"form-control" %>
      </div>

      <div>
        <label for="user_image">Image</label><br>
           <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" ,class:"py-3" %>
      </div>

      <div class="form-group py-3">
        <label for="user_introduction">Introduction</label><br>
          <%= f.text_area :introduction ,autofocus:true,id:"inputInt",class:"form-control" %>
      </div>

      <%= f.submit 'Update User',class:"btn btn-secondary" %>
    <% end %>

   </div>
  </div>
 </div>